.nav-tabs>li.kas-seo-hint>a {
	background-color: #c83c3c;
	border-color: #a32e2e;
	color: #fff
}

.nav-tabs>li.kas-seo-hint>a:focus,.nav-tabs>li.kas-seo-hint>a:hover{
	color:#fff;
	background-color:#ce5050;
	border-color:#b73434
}

.nav-tabs>li.kas-seo-hint>a:before{
	content:""
}

.nav-tabs>li.kas-seo-hint.active>a{
	color:inherit;
	background-color:#fafafa
}
.nav-tabs>li.kas-seo-hint.active>a:before{
	background-color:#c83c3c;
	color:#fff
}